# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
     runs-on: ubuntu-latest
     steps:
      - uses: appleboy/ssh-action@master
        name: executing remote ssh commands using password
        with:
         host: ${{secrets.SSH_HOST}}
         password: ${{secrets.SSH_PASSWORD}}
         username: ${{secrets.SSH_USERNAME}}

         script: |
          cd /var/www/html/gbs
          git pull origin main
